/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 5px 5px 0px 5px;
  margin: -5px 0;
  transition: 0.3s;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 33%;
    display: block;
    margin-bottom: 0px;
  }
}

/* Responsive columns */
@media screen and (max-width: 450px) {
  .column {
    width: 50%;
    display: block;
    margin-bottom: 0px;
  }
}

/* Responsive columns */
@media screen and (max-width: 300px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 0px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1px 10px 0px 10px;
  text-align: center;
  background-color: rgb(0 0 0 / 30%);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.1);
}

.card-title {
  height: 50px;
}

.galleryItem {
  padding: 0px 0px 0px 0px;
  margin: .5% .5% .5% .5%;
  border: 0px 0px 0px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.galleryItem:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.8);
  transform: scale(1.1);
}

.galleryRow1 {
  width: 97.5%;
  margin-bottom: 30px;
  margin-top: 30px;
}

.galleryRow2 {
  width: 48%;
}

.galleryRow3 {
  width: 29.4%;
}

.galleryRow4 {
  width: 23%;
}

.galleryRowSetHeight {
	height: 500px;
}

.blogItem {
  padding: 0px 0px 0px 0px;
  margin: .5% .5% .5% .5%;
  border: 0px 0px 0px 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.blogItem:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.8);
  transform: scale(1.1);
}

.blogRow1 {
  width: 97.5%;
}

.blogRow2 {
  width: 48%;
}

.blogRow3 {
  width: 29.4%;
}

.blogRow4 {
  width: 23%;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}